/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-overview {
	color: green;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 8px;
    align-items: center;
}
